h1 {
    text-align:center
}

label.inline {
    display: inline;
}

.character-sheet{
    display:grid;
    grid-gap: 4px;
    min-height:1000px;
    grid-template-columns: 250px 150px 150px 250px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "info special special weapons"
                         "perks perks inventory inventory";
    
}

/*----- Character sheet sections -----*/

.section{
    border: 3px solid black;
    padding:10px;
}

.info{
    grid-area: info;
}

.special{
    grid-area: special;
}

.weapons{
    
    grid-area: weapons;
}

.perks{
    
    grid-area: perks;
}

.inventory{

    grid-area: inventory;
}

hr{
    margin: 10px;
}

.character-info{
    margin-bottom:10px;
}

.level-xp{
    display: flex;
}
.level-xp label{
    margin-left: 5px;
}
.level-xp input{
    
}


/*----- Skills -----*/

.skill-box{
    display: flex;
    justify-content: flex-end;
}

.skill-box label{
    text-align: right;
}


/*----- Perks -----*/

.perk-box{
    margin:0px;
    margin-bottom: 5px;
}

.perk-box input{
    margin-bottom: 5px;
}

.perk-box textarea{
    height:50px;
}


/*----- Special Stats -----*/

.special-scores{
    display: flex;
}

.character-stat{
    width: 14%;
    padding: 2px;
    margin: 0px;
}

.character-stat label{
    font-size: 20px;
    text-align: center;
    padding: 0px;
    margin: 2px;
}

.character-stat input[type='number'].stat-num{
    width: 100%;
}

.character-stat input[type='number'].stat-num-sm{
    width: 100%;
}



/*----- Body Attributes -----*/
.body-grid{
    display:grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "ap stamina hp hr"
                         "ac dt decay ."
                         "sequence sense nerve groupsneak"
                         "hunger thirst exhaustion fatigue"
                         "radiationdc rads . .";
    
}

.slot{ 
   border: solid 1px;
   padding: 0px;
   margin: 0px;
}
.body-span{

}
.body-span label{
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 10px;
}
.body-span input[type='number'].body-stat{
    width: 100%;
    text-align: center;
}
.body-span input[type='text'].body-stat{
    width: 100%;
    text-align: center;
}
.ac{
    grid-area: ac;
}
.dt{
    grid-area: dt;
}
.decay{
    grid-area: decay;
}
.stamina{
    grid-area: stamina;
}
.hp{
    grid-area: hp;
}
.hr{
    grid-area: hr;
}
.sequence{
    grid-area: sequence;
}
.ap{
    grid-area: ap;
}
.fatigue{
    grid-area: fatigue;
}
.hunger{
    grid-area: hunger;
}
.thirst{
    grid-area: thirst;
}
.exhaustion{
   grid-area: exhaustion; 
}
.radiationdc{
    grid-area: radiationdc;
}
.rads{
    grid-area: rads;
}
.sense{
    grid-area: sense;
}
.nerve{
    grid-area: nerve;
}
.groupsneak{
    grid-area: groupsneak;
}

.body-span textarea.conditions-box{
    height: 50px;
}

/*----- Weapon Cards ------*/

.weapon-card{
    padding: 5px;
    margin-bottom: 5px;
    border: solid 1px;
}
.weapon-card input{

}
input.weapon{
    width: 40%;
}
span.weapon-stats{
    display: flex;
}

.weapon-stats input{
    width: 22%;
}

.weapon-stats input.range{
    width: 33%;
}

span.ammo{
    display:flex;
}

span.decay-card{
    display: flex;
}


/*----- Inventory -----*/

.inventory-head{
    display: flex;
    border:solid 1px;
}
.inventory-head-card{
    border: solid 1px;
    margin-right:10px;
    width: 25%;
}

.inventory-head-card input[type="number"].inventory-head-card-number{
    width: 100%;
    text-align: center;
}
.carry-load{
    border:solid 1px;
    width: 25%;
}
.carry-load input[type="number"].carry-load-number{
    width: 100%;
    text-align: center;
}


/* Roll Templates */

.sheet-rolltemplate-skills{
    background-color: #4c4c4c;
    padding: 10px;
    text-align: center;
    border: solid 1px black;
    border-radius: 5px;

}
.sheet-rolltemplate-skills .sheet-skillName{
    margin-bottom: 10px;
    font-size: 12pt;
    
}

.sheet-rolltemplate-weapon{
    background-color: #4c4c4c;
    padding: 10px;
    text-align: center;
    border: solid 1px black;
    border-radius: 5px;
}

.sheet-rolltemplate-weapon .sheet-weaponName{
    margin-bottom: 10px;
    font-size: 12pt;
}

.sheet-rolltemplate-weapon .sheet-roll{
    margin:10px;
}
.sheet-rolltemplate-weapon .sheet-damage{
    margin:10px;
}

.ui-dialog .charsheet button[type=roll] {
  height: 19px;
  border: 0px;
  color: #4c4c4c;
  background-color: transparent;
  padding: 5px;
  border-radius: 0px;
  box-shadow: none;
  background-image: none;
}
.ui-dialog .charsheet button[type=roll]:before {
  content: " ";
}
