h1 {
    text-align:center
}
h2{
    color: rgb(255 255 255 / 87%);
    font-size: 14pt;
}
h3{
    color: rgb(255 255 255 / 60%);
    font-size: 8pt;
}

label.inline {
    display: inline;
}

label{
    color: rgb(255 255 255 / 60%) !important;
}


.charsheet .sheet-character,
.charsheet .sheet-junk,
.charsheet .sheet-monster{
    display: none;
}


.charsheet .sheet-tabstoggle[value="character"] ~ div .sheet-button0 {background-color: #adfa9e; color: #121212;}
.charsheet .sheet-tabstoggle[value="junk"] ~ div .sheet-button1 {background-color: #adfa9e; color: #121212;}
.charsheet .sheet-tabstoggle[value="monster"] ~ div .sheet-button2 {background-color: #adfa9e; color: #121212;}

.sheet-button0, .sheet-button1, .sheet-button2{
    background-color: rgb(255 255 255 / 7%);
    color: rgb(255 255 255 / 87%);
    font-size: 12px;
    padding: 5px;
    border-radius: 3px;
    border:2px transparent;
    margin-bottom: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}


.charsheet .sheet-tabstoggle[value="character"] ~ div.sheet-character,
.charsheet .sheet-tabstoggle[value="junk"] ~ div.sheet-junk,
.charsheet .sheet-tabstoggle[value="monster"] ~ div.sheet-monster{
    display: grid;
}

.sheet-character{
    display:grid;
    grid-gap: 4px;
    min-height:1000px;
    grid-template-columns: 250px 150px 150px 250px;
    grid-template-rows: auto auto ;
    grid-template-areas: "info special special weapons"
                         "perks perks inventory inventory";
    background-color: #121212;
    color: rgb(255 255 255 / 87%);

}

.sheetform{
    background-color: #121212 !important;
    width: 832px !important;
}



/*----- Character sheet sections -----*/

.section{
    padding:10px;
}

.info{
    grid-area: info;
    background-color: rgb(255 255 255 / 5%);
}

.special{
    grid-area: special;
    background-color: rgb(255 255 255 / 5%);
}

.weapons{
    grid-area: weapons;
    background-color: rgb(255 255 255 / 5%);
}

.perks{
    grid-area: perks;
    background-color: rgb(255 255 255 / 5%);
}

.inventory{
    grid-area: inventory;
    background-color: rgb(255 255 255 / 5%);
}

hr{
    margin: 10px;
}

.character-info{
    margin-bottom:10px;
}

.level-xp{
    display: flex;
}
.level-xp label{
    margin-left: 5px;
}

.xp-input{
    width: 4em !important;
}

/*----- Skills -----*/

.skill-box{
    display: flex;
    justify-content: flex-end;
}

.skill-box label{
    text-align: right;
}

.skill-descriptor{
    font-size: 8px;
}

input[type="text"].skill-total {
    width: 30px !important;
    text-align: center;
    background-color: transparent !important;
    border: none !important;
    font-weight: bold;
    font-size: 14px;
}

/*----- Perks -----*/

.perk-box{
    margin:0px;
    margin-bottom: 5px;
    background-color: rgb(255 255 255 / 7%);
    padding: 5px;
    border-radius: 3px;
}

.perk-box input{
    margin-bottom: 5px;
}

.perk-box textarea{
    height: 50px;
    background-color: rgb(255 255 255 / 12%);
    color: rgb(255 255 255 / 87%);
    border: none;
    border-bottom: solid rgb(255 255 255 / 60%);
    width: 98%;
}

.description-toggle{
    color: #adfa9e;
    padding: 5px 5px 5px 0px;

}

.description-toggle:hover{
    cursor: pointer;
}


/*----- Special Stats -----*/

.special-scores{
    display: flex;
}

.character-stat{
    width: 14.2%;
    padding: 2px;
    margin: 0px;
}

.stat-roll{
    padding: 0px !important;
    width: 40% !important;
    margin-left:30% !important;
    margin-right:30% !important;
}

.character-stat label{
    font-size: 20px;
    text-align: center;
    padding: 0px;
    margin: 2px;
}

.character-stat input[type='number'].stat-num{
    width: 100%;
    text-align: center;
}

.character-stat input[type='number'].stat-num-sm{
    width: 100%;
}

.ability-score-mod-box{
    display: flex;
    justify-content: center;
    color: rgb(255 255 255 / 87%);
}

.stat-descriptor{
    font-size: 8px;
    text-align: center;
}



/*----- Body Attributes -----*/
.body-grid{
    display:grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "ap ac dt decay"
                         "hp maxhp stamina maxstamina "
                         "sequence nerve groupsneak sense"
                         "hunger thirst exhaustion fatigue"
                         "radiationdc rads irradiated hr"
                         "hypothermia overheating . .";
    
}

.slot{ 
   padding: 0px;
   margin: 0px;
}
.body-span{

}
.body-span label{
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 10px;
}
.body-span input[type='number'].body-stat{
    width: 100%;
    text-align: center;
}
.body-span input[type='text'].body-stat{
    width: 100%;
    text-align: center;
}
.ac{
    grid-area: ac;
}
.dt{
    grid-area: dt;
}
.decay{
    grid-area: decay;
}
.stamina{
    grid-area: stamina;
}
.maxstamina{
    grid-area: maxstamina;
}
.hp{
    grid-area: hp;
}
.maxhp{
    grid-area: maxhp;
}
.hr{
    grid-area: hr;
}
.sequence{
    grid-area: sequence;
}
.ap{
    grid-area: ap;
}
.fatigue{
    grid-area: fatigue;
}
.hunger{
    grid-area: hunger;
}
.thirst{
    grid-area: thirst;
}
.exhaustion{
   grid-area: exhaustion; 
}
.radiationdc{
    grid-area: radiationdc;
}
.rads{
    grid-area: rads;
}
.irradiated{
    grid-area: irradiated;
}
.sense{
    grid-area: sense;
}
.nerve{
    grid-area: nerve;
}
.groupsneak{
    grid-area: groupsneak;
}
.hypothermia{

}
.overheating{

}

.body-span textarea.conditions-box{
    height: 50px;
    background-color: rgb(255 255 255 / 12%);
    color: rgb(255 255 255 / 87%);
    border: none;
    border-bottom: solid rgb(255 255 255 / 60%);
}

.sequence-score-label{
    font-size: 7px !important;
}

.body-roll-sequence{
    text-align: center !important;
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;    
    font-size: 8px !important;
    height: 18px !important;
}

/*----- Karma Caps -----*/
.karma-cap-section{
    
}

.karma-box{
   
}

.karma-select{
    background-color: rgb(255 255 255 / 12%);
    color: rgb(255 255 255 / 87%);
}

option{
    background-color:#121212;
}

/*----- Weapon Cards ------*/

.weapon-card{
    padding: 5px;
    margin-bottom: 5px;
    background-color: rgb(255 255 255 / 7%);
    border-radius: 3px;
}
.weapon-card-row{
   
    margin-bottom: 5px;
   
}
.weapon-card input{
    width: 100%;
}

.weapon-card-label{
    margin: 0px !important;
    font-size: 12px !important;
    width: 35% !important;
    padding: 0px !important;
}
.weapon-card-label-attack{
    margin: 0px !important;
    font-size: 11px !important;
    width: 35% !important;
    padding: 0px !important;
}
input.weapon{
    width: 75%;
}
span.weapon-stats{
    display: flex;
    align-items:flex-end;
}

.weapon-stats input{
    width: 30%;
}

.weapon-stats input.range{
    width: 30%;
}

span.ammo{
    display:flex;
    align-items: flex-end;
}
.slash{
    margin:0px
}
.ammo-count{
    width: 3.0em !important;
}
span.decay-card{
    display: flex;
    align-items: flex-end;
}

.reload{
    height: 19px;
    border: 0px;
    color: rgb(255 255 255 / 87%);
    background-color: transparent;
    padding: 5px;
    border-radius: 0px;
    box-shadow: none;
    background-image: none;
    text-shadow: none;
}


/*----- Inventory -----*/

.inventory-head{
    display: flex;
}
.inventory-head-card{
    margin-right:10px;
    width: 25%;
}

.inventory-head-card input[type="number"].inventory-head-card-number{
    width: 100%;
    text-align: center;
}
.carry-load{
    width: 25%;
}
.carry-load input[type="number"].carry-load-number{
    width: 100%;
    text-align: center;
}

.carry-load-total{
    text-align: center;
    margin: auto;
}
.inventory-headers{
    display: flex;
}

.object_box{
    width: 70%;
}

.object_num_box{
    width: 20%;
}

.inventory-box{
    margin-bottom: 5px;
}

.item-header{
    width: 71%;
}
.lq-header{
    width: 12.5%;
}

/* Roll Templates */
.sheet-rolltemplate-skills,
.sheet-rolltemplate-weapon,
.sheet-rolltemplate-paste{
    background-color: #333333;
    padding: 10px;
    text-align: center;
    border: solid 1px black;
    border-radius: 6px;
    color: rgb(255 255 255 / 87%);
}

.sheet-rolltemplate-skills .sheet-skillName,
.sheet-rolltemplate-weapon .sheet-weaponName{
    margin-bottom: 10px;
    font-size: 14pt;
}

.sheet-rolltemplate-weapon .sheet-roll,
.sheet-rolltemplate-weapon .sheet-damage{
    margin:12px;
}

.sheet-rolltemplate-skills .inlinerollresult,
.sheet-rolltemplate-weapon .inlinerollresult,
.sheet-rolltemplate-paste .inlinerollresult {
    background-color: transparent;
    border: none;
    
}

.sheet-rolltemplate-paste .sheet-perkname{
    font-size: 14pt;
    margin-bottom: 10px;
}
/*----- Advantage Toggle -----*/
.advantage-toggle-pane{
    margin-bottom: 10px;
 
}

.advantage-toggle-pane input[type="radio"]{
    opacity: 0;
    position: fixed;
    width: 0;
}

.advantage-toggle-pane label{
    font-size: 12px;
    width: 25%;
    display: inline;
    padding: 5px;
    background-color: rgb(255 255 255 / 7%);
    border-radius: 3px;
    color: rgb(255 255 255 / 87%) !important;
    border:2px transparent;
}

.advantage-toggle-pane input[type="radio"]:checked + label{
    background-color:#adfa9e;
    color: #121212 !important;
}

.advantage-toggle-pane input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.advantage-toggle-pane label:hover {
  background-color: rgb(255 255 255 / 16%);
  cursor: pointer;
}

/*----- Other random stuff ----*/

.ui-dialog .charsheet button[type=roll] {
  height: 19px;
  border: 0px;
  color: #adfa9e;
  background-color: transparent;
  padding: 5px;
  border-radius: 0px;
  box-shadow: none;
  background-image: none;
  text-shadow: none;
}
.ui-dialog .charsheet button[type=roll]:before {
  content: " ";
}


.ui-dialog .charsheet input{
    background-color: rgb(255 255 255 / 12%);
    color: rgb(255 255 255 / 87%);
    border:none;
    border-bottom: solid rgb(255 255 255 / 60%);
}

.btn, .btn.btn-default{
    height: 19px;
    color: rgb(255 255 255 / 87%);
    background-color: rgb(255 255 255 / 7%);
    padding: 5px;
    border-radius: 0px;
    box-shadow: none;
    background-image: none;
    text-shadow: none;
}



/*----- Junk Screen -----*/


.junk-grid{
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 30% 30%;
    grid-template-rows: 1fr;
    grid-template-areas: "left right";
}

.junk-section{
    background-color: rgb(255 255 255 / 5%);
    padding: 10px;
}

.junk-header{
    display:flex;
  
}
.junk-header h2{
   
}

.junk-grid-left{
    grid-area: left;
}

.junk-grid-right{
    grid-area: right;
}

.junk-row{
    display:flex;
    align-items: flex-end;
    margin-bottom: 5px;
}

.junk-row label{
    width: 50%;
    text-align:end;
    margin-bottom: 0px;
    font-size: 14px;
    color: rgb(255 255 255 / 87%) !important;
}

.junk-row h2{
    margin-right: 10px;
    font-size: 14pt;
}

.junk-total{
    font-size: 14pt;
    line-height: 36px;
    color: rgb(255 255 255 / 87%);
}


/*----- Monster Statblock -----*/

div.attack-view-detailed,
div.attack-view-simplified {
    display: none;
}

input.toggle-control[value="detailed"] ~ div.attack-view-detailed {
    display: block;
}

input.toggle-control[value="simplified"] ~ div.attack-view-simplified {
    display: block;
}

textarea.monster-special{
    height: 60px;
}

textarea.monster-special.big-text {
    height: 120px;
}

.attack-view-select{
    background-color: rgb(255 255 255 / 8%);
    color: rgb(255 255 255 / 87%);
    width: 96px;
}

.monster-grid{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "mleft mright";
    padding: 10px;
}

.monster-section{
    background-color: rgb(255 255 255 / 5%);
}


.monser-grid-left{
    grid-area: mleft;
}

.monster-grid-right{
    grid-area: mright;
}

span.monster-stat-span{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}

.monster-stat-span label{
    width: 20%;
    margin: 0px !important;
    padding: 0px !important;
}

.monster-stat-span input{
    margin-right: 10px;
}

.monster-info-box{
    width: 95% !important;
    background-color: rgb(255 255 255 / 7%);
    color: rgb(255 255 255 / 87%);
}

.monster-special{
    width: 95% !important;
    background-color: rgb(255 255 255 / 7%);
    color: rgb(255 255 255 / 87%);
}